<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>QBI Hackathon</title>
    <script src="/static/assets/jquery-3.3.1.min.js"></script>
    <script src="/static/scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
  </head>
  <body>
    <script type="text/javascript">
      window.onload = function(){
        selectPart();
        mobileThings();

      };

      $(window).resize(function(){
        mobileThings()
      });
    </script>
    <div>
      <nav>
        <a href="www.google.com">Introduction</a>
        <a href="www.google.com" class="selected">Pick the particle!</a>
        <a href="www.google.com">Sources</a>
      </nav>
    </div>
    <section class="grid">
      <table cellspacing="0">
        <tbody>
          <tr>
            {% for i,tuple in Image_list %}
              {% if i%4==0 and i!=0 %}
                </tr><tr>
              {% endif %}
              <td> <img id='{{ tuple[0] }}' src="data:image/png;base64, {{tuple[1]}}"> </td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
      <button>Choose more samples!</button>
    </section>
    <section id="main">
      <section id="activeContent" class="content">
        <div class="content__box">
            <p class="instruction"><img src="/static/assets/arrow.svg" class="arrow"> Pick the particles that match this template </p>
          <div class="templateImg">
            <img src="/static/assets/templateEx.png">
          </div>
          <div class="templateInfo">
            <h3 class="score"># of samples</h3>
            <h2 class="scoreVal" id="numSamples">0</h2>
          </div>
        </div><!--
        --><div class="content__box">
            <p class="instruction"><img src="/static/assets/arrow.svg" class="arrow"> Your average template</p>
          <div class="templateImg">
            <img src="/static/assets/templateEx.png">
          </div>
          <div class="templateInfo">
            <h3 class="score">Accuracy</h3>
            <h2 class="scoreVal">58%</h2>
          </div>
        </div>
        <script type="text/javascript">

          $(window).resize(function(){
            if(window.innerHeight > window.innerWidth){
              $('.arrow').attr('src', '/static/assets/arrowM.svg');
              bindScroll();
            }
            else{
              $('.arrow').attr('src', '/static/assets/arrow.svg');
              $(window).scroll(function(){
              });
            }
          });
        </script>
      </section>
      <section class="content">
        <div class="projectInfo">
          <div class="infoBlock">
            <p class="label">Project</p>
            <h4 class="name title">cryo-EM 13423</h4>
          </div><!--
          --><div class="infoBlock">
            <p class="label">Biologist</p>
          <h4 class="name author">John Doe</h4>
          </div>
          <p>This project was created to..... Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. rit in vulputate velit esse molestie con</p>
        <a href="" class="learnMore">Learn more...</a>
        </div>
      </section>
    </section>
  </body>
</html>
