@font-face{
	font-family: 'Roboto-reg';
	src: url('../assets/fonts/Roboto-Regular.ttf');
}
@font-face{
	font-family: 'Roboto-bold';
	src: url('../assets/fonts/Roboto-Bold.ttf');
}
@font-face{
	font-family: 'Roboto-med';
	src: url('../assets/fonts/Roboto-Medium.ttf');
}

body{
	margin: 0;
	color: #232323;
	font-family: 'Roboto-reg';
}
section{
	vertical-align: top;
}
div{
	box-sizing: content-box;
}

p{
	font-size: 1vw;
	line-height: 1.85vw;
	letter-spacing: 0.014em;

}

nav{
	display: flex;
	justify-content: space-around;
	background-color: #FFF;
	width: 100%;
	margin: 2vw 0;
}

nav a{
	min-width: 14.46vw;
	padding: 0.78vw 0;
	color: #222277;
	font-size: 1.08vw;
	text-transform: lowercase;
	text-align: center;
}
nav a.selectedN{
	border: solid 2px #5D5DE8;
	box-shadow: none;
	pointer-events: none;
}
nav a.selectedN:hover{
	transform: translateY(0);
	background-image: none;
	color: #222277;
}

p,h1,h2,h3,h4,h5,h6{
	margin: 0;
}

a, button {
	box-sizing: content-box;
    display: inline-block;
    width: 19.61vw;
	background-color: #FFF;
	padding: 1.24vw;
	border-radius: 0.77vw;
	box-shadow: 0 4px 8px 0 rgba(61,37,137,0.5);
	cursor: pointer;

	color: #222277;
	font-family: 'Roboto-med';
	font-size: 1.15vw;
	letter-spacing: 0.035em;
	text-align: center;
    text-decoration: none;

    transform: translateY(0);
    transition: 0.2s ease-in-out;
}

a:hover, button:hover{
	background-image: linear-gradient(90deg, #36B37A, #1D118E);
	color: #FFF;
    transform: translateY(-5%);
}

button:focus{
	outline: none;
}

button{
	border: 0;
	width: 40vw;
}

.grid{
	display: inline-block;
	width: 58%;
	text-align: center;
	float: left;
}
table{
	box-sizing: content-box;
	display: inline-block;
	border: solid 2px #43434C;
	border-radius: 18px;
	border-spacing: 0;
	border-collapse: collapse;
	overflow: hidden;
	width: 40vw;
	margin-bottom: 2.3vw;
	box-shadow: 0 4px 8px 0 rgba(61,37,137,0.5);
}
td{
	width: 10vw;
	height: 10vw;
    position: relative;
    overflow: hidden;
}
td:hover::after, td.selected::after{
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(50deg, #36B37A, #1D118E);
	opacity: 0.5;
	cursor: pointer;
}
td.selected::after{
	opacity: 0.8;
}
td img{
	width: 102%;
	position: absolute;
	top: -1px;
	left: -1px;
}

.content{
	display: inline-block;
    width: 38%;
    float:right;
    margin-right: 4%;
}

.content__box {
    width: 100%;
    margin-top: 1.7vw;
}

.templateImg{
	display: inline-block;
	width: 9.38vw;
	border-radius: 10px;
	border: solid 2px #43434C;
	box-shadow: 0 4px 8px 0 rgba(61,37,137,0.5);
	overflow: hidden;
	vertical-align: middle;
}
.templateImg img{
	width: 100%;
}
.templateInfo{
	display: inline-block;
	width: 50%;
	margin-left: 3.3vw;
	vertical-align: middle;
}
.instruction{
	font-size:1vw;
	line-height:1.85vw;
	letter-spacing: 0.014em;
	position: relative;
	margin-bottom: 0.8vw;
}
.arrow{
	width: 1.4vw;
	position: absolute;
	top: 0.76vw;
	left: -2.4vw;
}
.score{
	font-family: 'Roboto-bold';
	font-size:1.15vw;
	line-height:1.54vw;
	letter-spacing: 0.014em;
}
.name{
	font-size:1.46vw;
	line-height:auto;
	letter-spacing:0.01em
}
.scoreVal{
	font-family: 'Roboto-bold';
	font-size:2.77vw;
	line-height:auto
	letter-spacing: 0.002em;
	color: #222277;
}

.projectInfo{
	margin-top: 3.61vw;
	margin-bottom: 7vw;
}
.infoBlock{
	display: inline-block;
	width: 50%;
	vertical-align: top;
	margin-bottom: 1.61vw;
}
.learnMore{
	margin-top: 1.65vw;
}
.label{
	font-size: 0.92vw;
	line-height: auto;
	letter-spacing: 0.01em;
}

@media screen and (orientation: portrait){
	body{
	}

	p{
		font-size: 4.37vw;
		line-height: 6.43vw;
		letter-spacing: 0.014em;
	}

	a, button{
		width: 77%;
		padding: 3vw;
		font-size: 4.9vw;
		letter-spacing: 0.014em;
		border-radius: 14px;
		margin: 0 auto;
	}
	a:hover, button:hover, nav a:hover{
		transform: translateY(0);
		background-image: none;
		color: #222277;
	}

	nav{
		display: flex;
		background-color: #FFF;
		width: 100%;
		margin: 0;

		position: fixed;
		top: 0;

		box-shadow: 0 2px 3px 0 rgba(61,37,137,0.5);
		z-index: 2;
	}
	nav a{
		display: inline-block;
		width: 35%;
		background: none;
		font-size: 3.86vw;
		letter-spacing: 0.053em;
		padding: 3.08vw 0;
		text-align: center;
		box-shadow: none;
	}
	nav a:hover{
		transform: translateY(0);
		background-image: none;
		color: #222277;
	}
	nav a.selectedN{
		border: none;
	}

	.grid{
		margin: 15vw 0;
	}
	table{
		border-radius: 0;
		box-shadow: none;
		margin-bottom: 3vw;
	}
	.grid, table{
		width: 100%;
		border: none;
		float:none;
	}

	td{
		width: 25vw;
		height: 25vw;
	}
	td img{
		width: 100%;
	}
	.content{
		width: 100%;
		float: none;
		margin-right: 0;
	}
	#activeContent{
		background-color: #FFF;
		padding-top: 5.91vw;
		position: fixed;
		top: 78.92vw;
		z-index: 2;
	}
	.content__box{
		display: inline-block;
		width: 46%;
		vertical-align: bottom;
	}
	.content__box:first-child{
		padding-left: 3.755vw;
	}
	.content__box:nth-child(2){
		padding-right: 3.755vw;
	}
	.templateImg{
		width: 36vw;
		border-radius: 1vw;
		border: solid 2px #43434C;
	}
	.arrow{
		width: 3vw;
		top: 6vw;
		left: -5vw;
	}

	.instruction{
		height: 21vw;
		font-size: 4.3vw;
		line-height: 5.9vw;
		margin-left: 5vw;
	}
	.templateImg{
		width: 34.88vw;
		height: 34.88vw;
	}
	.templateInfo{
		width: 100%;
		margin: 0;
		margin-top:5vw;
	}
	.score{
		font-size: 4.9vw;
		line-height: 6vw;
	}
	.scoreVal{
		font-size: 9.82vw;
	}

	/*Project info*/
	.projectInfo{
		padding: 0 7.51vw;
		padding-top: 13.2vw;
		margin-top: 0;
	}
	.infoBlock{
		width: 100%;
		margin: 0;
	}
	.label{
		display: none;
	}
	.title{
		font-size: 6.68vw;
		margin-bottom: 3.6vw;
	}
	.author{
		font-size: 5.14vw;
		margin-bottom: 7.2vw;
	}
	.learnMore{
		display: block;
		margin: 0 auto;
		margin-top: 6.65vw;
	}
}